* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


header .container,
section .container {
    background-color: #3f3f3f;
    color: beige;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container nav {
    padding: 40px 0 0;
}

header > .container nav li a {
    font-size: 22px;
}

header > .container nav li a,
h1 {
    color: aqua;
    font-variant: small-caps;
    text-transform: lowercase;
} 

.sobre h2 {
    padding-bottom: 16px;
}

.container ul li,
nav li {
    display: inline;
    margin-left: 12px;
}

.container-flex nav li a {
    margin: 0 4em;
    text-decoration: none;
    color: beige;
    font-size: 1.2em;
}

.container ul li a {
    color: aliceblue;
    text-decoration: none;
}

.container img {
    max-width: 270px;
    border-radius: 100%;
    margin-right: 46px;
}

.container-flex ul li {
    justify-content: space-around;
}

.sobre {
    max-width: 550px;
    font-size: 18px;
    line-height: 1.7;
}

.sobre li a {
    background-color: rgb(46, 109, 109);
    font-variant: small-caps;
    text-transform: lowercase;
    padding: 6px;
    border-radius: 6px;
}

section .container {
    justify-content: center;
    padding: 100px 0;
}

.container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.container-flex img {
    filter: brightness(50%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    padding-bottom: 18px;
}

.container-flex h2 {
    text-align: center;
    padding: 80px 0 20px;
}

h2 {
    color: aqua;
    font-variant: small-caps;
    
}

nav {
    display: flex;
}

.twu nav {
    padding-bottom: 100px;
}

section {
    background-color: #3f3f3f;
    padding-bottom: 80px;
}

.border ul {
    background-color: #333333;
    margin: 10px 20px;
    padding: 20px 20px;
    border: 4px solid #353535;
    border-radius: 10px;
}

.twu ul {
    background-color: #333333;
    margin: 10px 20px;
    padding: 20px 20px;
    border: 4px solid #353535;
    border-radius: 10px;
}

.contatos {
    padding: 18px;
    border: 4px solid #353535;
    border-radius: 10px;
    color: beige;
    text-align: center;
    max-width: 300px;
    width: 100%;
    font-variant: small-caps;
    line-height: 2;
    margin: 0 auto;
}

.contatos:hover,
.border ul:hover,
.twu ul:hover {
    border: 4px solid aqua;
}

.contatos h2 {
    font-size: 20px;
}

.contatos p {
    text-decoration: underline;
    font-variant: normal;
}

@media screen and (max-width: 767px) {
    html, body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    header .container,
    section .container {
        display: block;
}

    header > .container nav li a {
        font-size: 18px;
    }

    .container img {
        max-width: 100%;
    }
    
    nav {
    display: block;
}
    
    section {
    background-color: #3f3f3f;
}

    section .container {
    justify-content: center;
    padding: 100px 0 0;
}

    .container-flex h2,
    .sobre h2 {
    text-align: center;
    padding: 32px 0 20px;
}

    .sobre nav {
        padding-left: 4.8em;
    }

    .sobre {
    max-width: 570px;
    font-size: 16px;
    line-height: 2;
    padding: 8px;
}
}













