body {
    overflow-x: hidden;
}

section,
header {
    background-color: rgb(146, 146, 137);
}

#primary {
    padding-right: 16px;
}

#projetos {
    background-color: #595757;
}

.text-color {
    color: #b1b1b1;
}

#cabecalho .nav .nav-link.active{
    background-color: #484747;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #d9d6d6;
}

#sobre p {
    max-width: 600px;
    line-height: 3;
}

.row.justify-content-center {
    padding: 7em 0;
}

#contato .row {
    background-color: #595757;
    max-width: 320px;
    margin: 0 auto;
}

.wd {
    width: 125px;
    height: 125px;
    margin-left: 100px;
}

.wd:hover {
    box-shadow: 0 0 10px 5px #b1b1b1;
}

.img img {
    max-width: 300px;
    border-radius: 100%;
    filter: brightness(75%);
}

#sobre .container {
    padding: 120px 0;
}

#projetos .container {
    padding: 20px 0 100px;
}

#recente a h5 {
    list-style: none;
}

.nav-project .nav-link.active:hover {
    color: #b1b1b1 ;
}

.nav-project .nav-link.active {
    background-color:rgb(15, 15, 15);
    color: #b1b1b1;
}

.nav-project .nav-link.active:hover,
.text-color:hover {
    color: #b1b1b1;
}

@media (max-width: 767px) {
    html, body {
        overflow-x: hidden;
    }
    
    #sobre .container,
    #projetos .container {
        width: 90%;
        padding: 0;
    }

    #sobre .container {
        padding-bottom: 20px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #sobre .container,
    #projetos .container {
        width: 100%;
        padding: 0;
    }

    #sobre .container {
        padding-bottom: 60px;
    }
    
    .tab-content .row {
        padding-left: 20px;
    }
}

    
