section,
header {
    background-color: #3f3f3f;
}

#primary {
    padding-right: 16px;
}

#projetos {
    background-color: #595757;
}

.text-color {
    color: #b1b1b1;
}

p {
    max-width: 600px;
    line-height: 2;
}

.row.justify-content-between {
    padding: 7em 0;
}

#contato .row {
    background-color: #595757;
    max-width: 320px;
    margin: 0 auto;
}

.img img {
    max-width: 380px;
    border-radius: 100%;
    filter: brightness(75%);
}

#sobre .container {
    padding: 120px 0;
}

#projetos .container {
    padding: 20px 0 100px;
}

#recente a h5 {
    list-style: none;
}

section h2,
section p,
.nav-project .nav-link.active:hover {
    color: #b1b1b1 ;
}

.nav-project .nav-link.active {
    background-color:rgb(15, 15, 15);
    color: #b1b1b1;
}

.nav-project .nav-link.active:hover,
.text-color:hover {
    color: #b1b1b1;
}

@media (max-width: 767px) {
    html, body {
        overflow-x: hidden;
    }
    
    #sobre .container,
    #projetos .container {
        width: 90%;
        padding: 0;
    }

    #sobre .container {
        padding-bottom: 20px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #sobre .container,
    #projetos .container {
        width: 100%;
        padding: 0;
    }

    #sobre .container {
        padding-bottom: 60px;
    }
    
    .tab-content .row {
        padding-left: 20px;
    }
}

    
